{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Change Your Password</h2>
        <form method="post" action="{% url 'password_change' %}">
            {% csrf_token %}
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" name="old_password" placeholder="Current password" required>
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" name="new_password1" placeholder="New password" required>
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" name="new_password2" placeholder="Confirm new password" required>
            </div>
            <button type="submit" class="btn">Change Password</button>
        </form>
        <div class="links">
            <a href="{% url 'login' %}">Back to login</a>
        </div>
    </div>
</body>
</html>
