{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnwxVVcoC3HQH9Q1m6lH5W8N3Di3eeBQ0Np60m+mAePmct5t5+V0E+6H7GUP0EBJzpZpOy3PA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="login-container">
        <div class="login-form">
            <h2>Register</h2>
            <form method="post" action="{% url 'signup' %}">
                {% csrf_token %}
                <div class="input-group">
                    <i class="fas fa-user"></i>
                    <input type="text" name="username" placeholder="Username" maxlength="150" autocapitalize="none" autocomplete="username" required>
                    {% if form.username.errors %}
                        <div class="error">{{ form.username.errors.0 }}</div>
                    {% endif %}
                </div>
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password1" placeholder="Password" autocomplete="new-password" required>
                    {% if form.password1.errors %}
                        <div class="error">{{ form.password1.errors.0 }}</div>
                    {% endif %}
                </div>
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password2" placeholder="Confirm Password" autocomplete="new-password" required>
                    {% if form.password2.errors %}
                        <div class="error">{{ form.password2.errors.0 }}</div>
                    {% endif %}
                </div>
                <button type="submit" class="btn">Register</button>
            </form>
            <div class="links">
                <a href="{% url 'login' %}">Already have an account? Login</a>
            </div>
        </div>
    </div>
</body>
</html>
