{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/tyles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>


{% block heder %}
<div class="hero">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <h1>Explore the Latest Films & Series</h1>
        <p>Find your next favorite movie or show</p>
        <a class='btn-danger'href="{% url "post-list" %}">Start Watching</a>
    </div>
</div>
{% endblock  %}
    
{% block content %}
    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2024 CineWave. All rights reserved.</p>
        <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>

{% endblock  %}



  