{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}CineWave{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/tyles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="#" class="navbar-brand">CineWave</a>
            <button class="navbar-toggle" id="navbarToggle">
                <i class="fas fa-bars"></i>
            </button>
            <div class="navbar-links" id="navbarLinks">
                <!-- لینک‌ها -->
                <a href="{% url 'home' %}" class="nav-link">Home</a>
                <a href="{% url 'post-list' %}" class="nav-link">Films</a>
                <a href="{% url 'post-create' %}" class="nav-link">Series</a>
                <a href="#" class="nav-link">Top Rated</a>
                <a href="#" class="nav-link">New Releases</a>
                <a href="#" class="nav-link">Genres</a>
                {% if user.is_authenticated %}
                    <a class="nav-link">{{user.username}}</a>
                    <a href="{% url 'logout' %}" class="btn btn-sm btn-danger">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-sm btn-danger">Login</a>
                    <a href="{% url 'signup' %}" class="btn btn-sm btn-danger">Signup</a>
                {% endif %}
            </div>
        </nav>
    </header>
    

    <!-- Main Content -->
    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2024 CineWave. All rights reserved.</p>
        <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
    
</body>
</html>
